[City]
mode = rectangle
# hannover_lat = 52.376
# hannover_lon = 9.76
# zone_size = 1000
hannover_lat_min = 52.297839999994714
hannover_lat_max = 52.438260000005286
hannover_lon_min = 9.643080000001035
hannover_lon_max = 9.844349999998968
import = True
imported_graph_path = ./data/exercise_1_reference.graphml

[Layers]
number_of_layers = 9
layer_width = 25

[BuildingData]
lat_min = 52.297839999994714
lat_max = 52.438260000005286
lon_min = 9.643080000001035
lon_max = 9.844349999998968
divisions = 20
directory_hannover = C:\workspace3\bluesky_usepe_git\usepe\city_model\data\CityGML_LoD1

[Options]
one_way = False
simplify = True
simplification_distance = 0
simplification_error = 2

[Outputs]
graph_path = ./data/exercise_1_reference.graphml

[Segments]
import = True
path = ./data/reference_segments.pkl

[Corridors]
corridors =
altitude = 250
delta_z = 25
speed = 30
acceleration_length = 50
file_path_corridors = ./data/usepe-hannover-corridors.geojson

[Strategic_Deconfliction]
ratio = 3
delay = 60

[BlueSky]
graph_path = /home/jbueno/data/data/exercise_1_reduced_region_ref_20220916.graphml
flight_plan_csv_path =  /home/jbueno/data/data/medium_density/delivery_and_background_0.csv
initial_time = 0
final_time = 3600
D2C2 = False
lookup_tables_dir =  /home/jbueno/data/data/lookup_tables
wind_scenario_path = usepe/exercise1/wind/USEPE_S1_3d_nest03_20m_0s.scn

[Segmentation_service]
wind_path = USEPE_S1_3d

